.ui-state-focus{
        background: none !important;
        border: none !important;
        border-radius: none !important;
    }
    .alert-warning ul li{
        list-style: none !important;
    }
    .units_dropdown{
        width: 90% !important;
    }
 .customer_select_order
{
    padding-bottom: 15px !important;
}
.supplier_order{width:30%}