.ui-state-focus{
    background: none !important;
    border: none !important;
    border-radius: none !important;
}
.alert-warning ul li{
    list-style: none !important;
}
.units_dropdown{
    width: 90% !important;
}
.customer_select_order
{
    padding-bottom: 15px !important;
}
.supplier_order{width:30%}
.no_left_margin{
    margin-left: -7px;
}
.no_right_margin{
    margin-left: 7px;
    margin-bottom: 10px;
}
.loadinggif {
    background:url('http://www.hsi.com.hk/HSI-Net/pages/images/en/share/ajax-loader.gif') no-repeat right center;
    margin-right: 50px;
}
.normal_cursor{
    cursor: default !important;
}

.ui-autocomplete{
    overflow-y: scroll !important;
    max-height: 250px;
}
.empty_star{
    background-image:url(../../img/stars.png);
    background-repeat:no-repeat;
    height: 16px;
    width: 16px;
    display: inline-block;
    background-position: -0px -16px;
}
.filled_star{
    background-image:url(../../img/stars.png);
    background-repeat:no-repeat;
    height: 16px;
    width: 16px;
    display: inline-block;
}
.custom_alert_success, #empty_select_completed, .delete_records_empty, #add_product_row_delivery_challan, #add_product_row, #add_product_row_delivery_order{
    display:none;
}
#password_delete_completetd{
    margin-bottom: 10px;
}
.delete_completed_heading{
    cursor: pointer;
}
.delete_completed{
    margin-right: 5px;
}
.delete_completed_heading input{
    height: 13px !important;
}
.smallinput td:nth-child(1){
    width: 20% !important;
}
.minimum_reach{
    background-color: rgba(255,0,0,0.2);
}
.smallinput td:nth-child(2){
    width: 10% !important;
}
.smallinput td:nth-child(3){
    width: 10% !important;
}
.inventory_update, .inventory_update_max, .inventory_update_min{
    display: none;
}
@media (min-width:995px) and (max-width:1030px) {

    .ui-autocomplete{
        overflow-y: scroll !important;
        min-height: 150px !important;
        max-height: 250px;
    }
}
.error_page_link{
    color: #3498db !important;
    text-decoration: underline !important;
}
.error_page_link:hover{
    color: #333 !important;
    text-decoration: none !important;
}
.erro_page_heading{
    font-size: 28px;
}
.error_page_div{
    margin-top: 50px;
    text-align: center;
}

