.ui-state-focus{
    background: none !important;
    border: none !important;
    border-radius: none !important;
}
.alert-warning ul li{
    list-style: none !important;
}
.units_dropdown{
    width: 90% !important;
}
.customer_select_order
{
    padding-bottom: 15px !important;
}
.supplier_order{width:30%}


.loadinggif {
    background:url('http://www.hsi.com.hk/HSI-Net/pages/images/en/share/ajax-loader.gif') no-repeat right center;
    margin-right: 50px;
}
.normal_cursor{
    cursor: default !important;
}

.ui-autocomplete{
    overflow-y: scroll !important;
    max-height: 250px;
}


