/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28 Jul, 2015, 12:35:16 PM
    Author     : amankumaragarwal
*/

tr td, tr th{
    height: 20px;
    font-size: 10px;
}
.heading1{
    font-size: 14px;
    font-weight: bold;
}
.heading2{
    font-weight: bold;
}
.text2{
    font-style: italic;
}
.border1{
    border-bottom: 1px solid #000;
}
.border2{
    border-top: 1px solid #000;
}
.border3{
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}